.budget-message {
  /* opacity: 0;
  transform: translateX(-100%); */
  animation: budget-anim 2s forwards;
}
@keyframes budget-anim {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
