.menu-anim-active {
  animation: open-menu 0.3s ease-in-out forwards;
}
.menu-anim-close {
  animation: close-menu 0.3s ease-in-out forwards;
}

@keyframes open-menu {
  from {
    display: none;
    transform: translateX(-100vw);
  }
  to {
    display: block;
    transform: translateX(0);
  }
}
@keyframes close-menu {
  from {
    display: block;
    transform: translateX(0);
  }
  to {
    display: none;
    transform: translateX(-100vw);
  }
}
