.welcome-message {
  animation: welcome-anim 3s forwards;
}
@keyframes welcome-anim {
  0% {
    opacity: 0;
    display: none;
  }
  25% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
